body{
    background-image: url('../../images/fitness-inventory.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.title{
    color: white;
}

.card-container {
    text-align: center;
}

.card {
    display: flex;
    gap: 0px;
    width: 50rem;
    height: 200px;
    margin-left: 22rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 2px black;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
}

.card-img {
    width: 300px;
    height: 200px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 110px;
}

.card_description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.card-buttons {
    display: flex;
    gap: 10px;
}

.details-button, .add-button {
    width: 150px;
    height: 40px;
    font-size: 17px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-decoration: none;
    color: black;
}

.details-button {
    background-color: lightgreen;
}

.add-button {
    background-color: yellow;
}
