body {
    background-image: url('../../images/fitness-inventory.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.exercise-title{
    color: yellow;
    text-align: center;
    font-size: 35px;
}

.image {
    width: 1000px;
    height: 500px;
    border-radius: 20px;
}

.exercise-video{
    text-align: center;
}

.exercise-content {
    color: white;
    font-size: 20px;
    text-align:center;
}

.content-title {
    color: yellow;
    font-size: 25px;
}

.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
}

.btn-add{
    background-color: yellow;
}

.btn-delete{
    background-color: red;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
