<link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home";
}

<div class="image-container">
    <img class="image" src="./images/training-girl.jpg" alt="">
</div>

<div class="title-text">
    <h1 class="heading">HEALTH AND FITNESS</h1>

    <p class="paragraph">
        Nice-looking body and powerful organism are interconnected <br> and we can help you
        with both.
    </p>
    <a asp-controller="Exercises" asp-action="ByMuscleGroup" class="button">GET STARTED</a>
</div>

<section class="welcome-section">
    <h1>What do we offer?</h1>
    <hr>

    <div class="card-container">
        <div class="card">
            <i class="fa-solid fa-users card-icon"></i>
            <h4 class="card-heading">Share exercises</h4>
            <p class="card-text">
                Create your exercises and share them. Browse the wide range of them from all our customers.
            </p>
        </div>

        <div class="card">
            <i class="fa-solid fa-thumbs-up card-icon"></i>
            <h4 class="card-heading">Individual Programs</h4>
            <p class="card-text">
                Every client has the ability to create their personal workout program, using theirs, or other people's exercises.
            </p>
        </div>

        <div class="card">
            <i class="fa-solid fa-dumbbell card-icon"></i>
            <h4 class="card-heading">Fitness education</h4>
            <p class="card-text">
                Educate yourself and make your start easier, using our images, video and detailed description of every exercise.
            </p>
        </div>
    </div>
</section>