<link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home";
}

<div class="image-container">
    <img class="image" src="./images/training-girl.jpg" alt="">
</div>

<div class="title-text">
    <h1 class="heading">HEALTH AND FITNESS</h1>

    <p class="paragraph">
        Nice-looking body and powerful organism are interconnected <br> and we can help you
        with both.
    </p>
    <button class="button">GET STARTED</button>
</div>

<section class="welcome-section">
    <h1>Welcome</h1>
    <hr>

    <div class="card-container">
        <div class="card">
            <i class="fa-solid fa-users card-icon"></i>
            <h4 class="card-heading">Qualified Coaches</h4>
            <p class="card-text">
                Our coaches have years of experience in various types of fitness and sports.
            </p>
        </div>

        <div class="card">
            <i class="fa-solid fa-thumbs-up card-icon"></i>
            <h4 class="card-heading">Individual Approach</h4>
            <p class="card-text">Every client of GYM has a personalized program of training and nutrition.</p>
        </div>

        <div class="card">
            <i class="fa-solid fa-dumbbell card-icon"></i>
            <h4 class="card-heading">Fitness Equipment</h4>
            <p class="card-text">
                We cooperate with leading fitness equipment suppliers to give you the superior
                results.
            </p>
        </div>
    </div>
</section>

<section class="coaches-section">
    <h1>Coaches</h1>
    <hr>

    <div class="card-container">
        <div class="card">
            <img src="./images/perkins.jpg" alt="">
            <h4 class="card-heading">Pepa Perkins</h4>
            <h3 class="fitness-type">Fitness</h3>
            <p class="card-text">
                Emily can teach you all peculiarities of fitness and aerobics in a group or
                individually.
            </p>
        </div>

        <div class="card">
            <img src="./images/minela.jpg" alt="">
            <h4 class="card-heading">Samantha Minela</h4>
            <h3 class="fitness-type">Yoga</h3>
            <p class="card-text">
                Our leading yoga coach, Samantha will help you reach full harmony with your
                body.
            </p>
        </div>

        <div class="card">
            <img src="./images/ortiz.jpg" alt="">
            <h4 class="card-heading">Austin Ortiz</h4>
            <h3 class="fitness-type">Bodybuilding</h3>
            <p class="card-text">
                Austin is not only our most called-for coach, but also a winner of many
                championships.
            </p>
        </div>
    </div>
</section>