@page
@model LoginModel

@{
    ViewData["Title"] = "Login page";
}

<div class="image-container">
    <img class="image" src="~/images/fitness-main.jpg" alt="">
</div>

<form class="form" id="account" method="post">
    <h1 class="login-title">Login:</h1>

    <label asp-for="Input.Email"></label>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-field">
        <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <label asp-for="Input.Password"></label>
    <div class="input-field">
        <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="checkbox">
        <label asp-for="Input.RememberMe">
            <input asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
    </div>

    <div>
        <button class="login-btn" type="submit">Log in</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
