@page
@model LogoutModel

<link rel="stylesheet" href="~/css/Authorization/logout.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Log out";
}

<header>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <h1 class="logout-title">Are you sure you want to log out?</h1>
                <button class="logout-btn" type="submit">Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
