@page
@model RegisterModel

@{
    ViewData["Title"] = "Register page";
}

<div class="image-container">
    <img class="image" src="~/images/fitness-main.jpg" alt="">
</div>

<form class="form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h1 class="register-title">Register:</h1>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="Input.FirstName"></label>
    <div class="input-field">
        <input asp-for="Input.FirstName" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>

    <label asp-for="Input.LastName"></label>
    <div class="input-field">
        <input asp-for="Input.LastName" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>

    <label asp-for="Input.Email"></label>
    <div class="input-field">
        <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <label asp-for="Input.Password"></label>
    <div class="input-field">
        <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <label asp-for="Input.ConfirmPassword"></label>
    <div class="input-field">
        <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="register-btn" type="submit">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
