:root {
    --red-clr: #d01919;
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-light-gray: #ececec;
    --clr-dark-grey: #383838;
}

body {
    margin: 0px;
}

/* BackgroundImage */
.image-container {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navigation */
.navigation,
.navigation-list {
    background-color: var(--red-clr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li a,
.navigation-list li button {
    padding: 15px;
    text-decoration: none;
    color: var(--clr-dark-grey);
    background-color: var(--clr-light-gray);
    margin-right: 3px;
    border-radius: 3px;
}

.navigation-list li a.active {
    background-color: #e24e2a;
    color: var(--clr-white);
}

span.big-heading {
    font-size: 27px;
    font-weight: 700;
    margin-left: 15px;
    color: var(--clr-white);
}

span.straight-line {
    color: var(--clr-white);
    margin-left: 5px;
    margin-right: 5px;
}

span.small-heading {
    font-size: 13px;
    color: var(--clr-white);
}

/* Footer section */
footer {
    margin-top: 0px;
    height: 50px;
    background-color: var(--red-clr);
    color: var(--clr-black);
    text-align: center;
    padding: 15px;
}
