<link rel="stylesheet" href="~/css/Exercises/ByMuscleGroup.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Muscle groups";
}

<div class="image-container">
    <img class="image" src="~/images/fitness-main.jpg" alt="">
</div>

<div class="card-container">
    <h1>Select a muscle group:</h1>

    <hr />
    <ul class="cards">
        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/abs-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">ABS</h3>
                        </div>
                    </div>
                    <p class="card__description">The core muscles help keeping your body stable and balanced, and protect your spine.</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/back-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">BACK</h3>
                        </div>
                    </div>
                    <p class="card__description">Your back muscles help you move your body, bend over, rotate your trunk and stand up straight.</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/bicep-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">BICEPS</h3>
                        </div>
                    </div>
                    <p class="card__description">The bicep is a large muscle that lies on the front of the upper arm between the shoulder and the elbow.</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/calf-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">CALF</h3>
                        </div>
                    </div>
                    <p class="card__description"> Together, the calve muscles help you walk, run, jump, stand on your toes and flex your foot.</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/chest-muscle.jpeg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">CHEST</h3>
                        </div>
                    </div>
                    <p class="card__description">In addition to your back and shoulder muscles, your pecs help to stabilize the shoulder joint.</p>
                </div>
            </a>
        </li>
    </ul>

    <ul class="cards">
        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/forearm-musle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">FOREARMS</h3>
                        </div>
                    </div>
                    <p class="card__description">The muscles of the forearm work together to move the elbow, forearm, wrist, and digits of the hand.</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/legs-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">LEGS</h3>
                        </div>
                    </div>
                    <p class="card__description">Your leg muscles help you move, carry the weight of your body and support you when you stand.</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/shoulder-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">SHOULDERS</h3>
                        </div>
                    </div>
                    <p class="card__description">The shoulder muscles are responsible for maintaining the widest range of motion.</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/tricep-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">TRICEPS</h3>
                        </div>
                    </div>
                    <p class="card__description">The primary function of the triceps is the extension of the elbow joint.</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/tricep-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">ALL</h3>
                        </div>
                    </div>
                    <p class="card__description">All muscles in the body.</p>
                </div>
            </a>
        </li>
    </ul>

    <hr />

</div>