<link rel="stylesheet" href="~/css/Exercises/ByMuscleGroup.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Muscle groups";
}

<div class="image-container">
    <img class="image" src="~/images/fitness-main.jpg" alt="">
</div>

<div class="card-container">
    <h1>Select a muscle group:</h1>

    <hr />
    <ul class="cards">
        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/abs-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">ABS</h3>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/back-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">BACK</h3>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/bicep-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">BICEPS</h3>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/calf-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">CALF</h3>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/tricep-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">TRICEPS</h3>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
            </a>
        </li>
    </ul>

    <ul class="cards">
        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/chest-muscle.jpeg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">CHEST</h3>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/forearm-musle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">FOREARMS</h3>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/legs-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">LEGS</h3>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/shoulder-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">SHOULDERS</h3>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <img src="~/images/MuscleGroups/tricep-muscle.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card__header-text">
                            <h3 class="card__title">ALL</h3>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
            </a>
        </li>
    </ul>

    <hr />

</div>