@model CreateExerciseInputModel

<link rel="stylesheet" href="~/css/Exercises/CreateExercise.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Create exercise";
}

<div class="image-container">
    <img class="image" src="~/images/fitness-main.jpg" alt="">
</div>

<div class="container">
    <form form asp-controller="Exercises" asp-action="Create" method="post">

        <h1>Create Exercise:</h1>
        <hr>

        <div>
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" placeholder="Exercise name...">
            <span asp-validation-for="Name" class="text-danger" />
        </div>

        <div>
            <label asp-for="VideoURL">Video URL</label>
            <input type="text" asp-for="VideoURL" placeholder="Enter video URL here...">
            <span asp-validation-for="VideoURL" class="text-danger" />
        </div>

        <div>
            <label asp-for="MuscleGroupId"></label>
            <select asp-for="MuscleGroupId" asp-items="@ViewBag.MuscleGroupsSelectList">
                <option value=" " selected disabled>--Select--</option>
            </select>
        </div>

        <div>
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" placeholder="Write description here..." style="height:50px"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>

        <div id="ExerciseImagesContainer">
            <a onclick="AddMoreUrls()"><i class="fas fa-plus"></i>Add image URL here</a>
        </div>

        <input class="submit-btn" type="submit" value="Submit">

        <hr>
    </form>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />

    <script>
        var urlIndex = 0;

        function AddMoreUrls() {
            $("#ExerciseImagesContainer").append("<div>Url:<input type='text' name='Images[" + urlIndex + "].Url' id='' /></div>");
            urlIndex++;
        }
    </script>
}