<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthAndFitness</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <nav class="navigation">

            <div class="navigation-logo">
                <span class="big-heading">Health&fitness</span>
                <span class="straight-line">|</span>
                <span class="small-heading">BY BOZHIDAR CHERVENKOV</span>
            </div>

            <ul class="navigation-list">
                <li>
                    <a class="active" asp-controller="Home" asp-action="Index">HOMEPAGE</a>
                </li>
                <li>
                    <a  asp-controller="Exercises" asp-action="Create">CREATE EXERCISE</a>
                </li>
                <li>
                    <a asp-controller="Exercises" asp-action="ByMuscleGroup">EXERCISES</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>

        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>All rights reserved. In Partnership with SoftUni.</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
