@model WorkoutListViewModel

<link rel="stylesheet" href="~/css/Workouts/WorkoutsByUserId.css" asp-append-version="true" />
@{
    ViewData["Title"] = "My workouts";
}

<h1 class="heading-text">Your workouts:</h1>

<hr />

@if (Model.Workouts.Count() != 0)
{
    <div class="conatiner">
        <div class="wrap">
            @foreach (var workout in this.Model.Workouts)
            {
                <a class="workout-byId-link" asp-controller="Workouts" asp-action="ById" asp-route-workoutId="@workout.Id">
                    <div class="box" style="background: url(@workout.ImageUrl); background-size: cover; background-position: center; object-fit: contain; object-position: center;">
                        <div class="date">
                            <h4>@workout.CreatedOn</h4>
                        </div>
                        <h1>@workout.Name</h1>
                    </div>
                </a>
            }
        </div>
    </div>
}
else
{
    <h1 class="no-workouts-message">No workouts added yet!</h1>
}

<hr />

<div class="btn-container">
    <a asp-controller="Workouts" asp-action="Create" class="button btn-add">Add workout</a>
</div>